.features {
  display: flex;
  align-items: center;
  padding: 10rem 0;
  width: 100%;
}

.fanming {
  text-align: center;
  color: rgb(42, 138, 228);
  background-color: rgb(146, 83, 204, 0.15);
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.featureSvg {
  height: 200px;
  width: 200px;
}