/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  color: white;
  padding: 21rem 0;
  text-align: center;
  position: relative;
  background: url(https://www.helloimg.com/images/2023/04/01/o3VGut.webp);
  background-position: 0 auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  margin-bottom: 25px;
}
.button1 {
  background-color: white;
  border: 3px solid #4CAF50;
  border-radius: 5px;
  padding: 8px 25px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px 5px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.button1:hover{
  background-color: #2f6831;
  border: 3px solid #2f6831;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 5px 5px;
  transition-duration: 0.5s;
}

.button2 {
  background-color: white;
  border: 3px solid #4CAF50;
  border-radius: 5px;
  padding: 8px 25px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px 5px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.button2:hover{
  background-color: #2f6831;
  border: 3px solid #2f6831;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 5px 5px;
  transition-duration: 0.5s;
}

.textline {
  font-size: 15px;
  color: white;
  margin-bottom:5px;
}
