/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .logo {
  width: 180px;
  height: 180px;
  margin-bottom: 30px;
  margin-top: 50px;
  cursor: pointer;
  transition-duration: 0.5s;
 }

 .logo:hover {
  width: 220px;
  height: 220px;
  margin-top: 50px;
  margin-bottom: 70px;
  transition-duration: 0.5s;
 }

 .heroBanner {
  color: white;
  padding: 15rem 0;
  text-align: center;
  position: relative;
  background: url(https://www.helloimg.com/images/2023/04/01/o3VGut.webp);
  background-position: 0 auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  margin-bottom: 25px;
}
.button1 {
  background-color: white;
  border: 2px solid #65ccd3;
  border-radius: 25px;
  padding: 4px 16px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 5px 5px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.button1:hover{
  background-color: #00cbda;
  border: 2px solid #00cbda;
  border-radius: 25px;
  padding: 8px 26px;
  color: black;
  text-decoration: none;
  margin: 5px 5px;
  transition-duration: 0.5s;
}

.button2 {
  background-color: white;
  border: 2px solid #65ccd3;
  border-radius: 25px;
  padding: 4px 16px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 5px 5px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.button2:hover{
  background-color: #00cbda;
  border: 2px solid #00cbda;
  border-radius: 25px;
  padding: 8px 26px;
  color: black;
  text-decoration: none;
  margin: 5px 5px;
  transition-duration: 0.5s;
}

.textline{
  font-size: 15px;
  color: white;
}
